.alineacion{
    text-align: left;
}
.colores{
    color: white;
}
#tamaniologo{
    margin-left: 50px;
    height: 60px;
    width: auto;
}
.h4{
    padding-top: 10px;
    padding-right: 340px;
}
p{
    padding-top: 10px;  
}
.alig{
    display: inline;
}
.contenedor-imagenes {
    display: flex;
}
  
.float{
    float: left;
    padding-right: 5px;
    color: black;

}